.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  display: flex;
  justify-content: center; /* centra horizontal */
  min-height: 100vh;       /* toda la pantalla */
  background: #f9f9f9;
  padding: 1rem;
  box-sizing:content-box;
}
form {
  max-width: 340px;
  width: 100%;
  max-height: max-content;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.campos div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* Estilos para los campos de entrada */

input[type="text"],
input[type="password"] {
  background-color: #FF7700;
  border: none;
  border-radius: 12px;
  padding: 10px;
  font-size: 14px;
  width: 100%; /* ocupar todo ancho del form */
  box-sizing: border-box;
  color: #fff;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
}

/* Estilos para el texto de los campos de entrada */


.boton {
  border: none;
  border-radius: 30px; /* bordes redondeados */
  padding: 12px 40px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer; /* convertir en una manito */
  box-shadow: 0 8px 15px rgba(37, 117, 252, 0.3);
  transition: all 0.3s ease;
  letter-spacing: 1px;
  box-sizing: border-box;
  color: rgb(219, 129, 25); /* la letra del boton*/
  display: block;
  margin: auto;
}


.boton:hover {
  box-shadow: 0 15px 20px rgba(37, 117, 252, 0.5);
  transform: translateY(-3px); /* el pique del Nahu */
}
.boton:active{
  transform: translateY(-1px);
  box-shadow: 0 7px 10px rgba(37, 117, 252, 0.2);  
}
  
/* Estilos para el botón de envío */

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

